header {
  position: relative;
  z-index: 1;
}

input[type='checkbox'] {
  display: none;
}

.header-icons-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  z-index: 0;
}

.navigation-container {
  display: flex;
  flex-direction: column;
  padding: 34px 26px 0 32px;
  width: 254px;
  min-height: 100vh;
  position: absolute;
  z-index: 1;
  right: 0;
  background-color: rgba(255,255,255,0.04);
  backdrop-filter: blur(30px);

  transform: translateX(100%);
  transition: 0.2s ease-in-out transform;
}

.close-navigation-label {
  align-self: flex-end;
}

.close-navigation {
  align-self: flex-end;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
  margin-top: 65px;
  min-height: calc(237px - 65px);

  & li {
    letter-spacing: 2.7px;
  }
}

.navigation-item-number {
  position: relative;
  top: -1px;
  font-weight: 700;
}

input[type='checkbox']:checked {
  & ~ .navigation-container {
    transform: translateX(0);
  }

  & ~ .header-icons-container .hamburger-icon {
    display: none;
  }
}