header {
  min-height: 96px;
}

input[type='checkbox'] {
  display: none;
}

.header-icons-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  z-index: 99;

  & .header-logo-container {
    padding: 0;
  }

  & .hamburger-icon {
    transform: rotateY(0);
    transition: transform 0.3s ease-in-out;
  }
}

.navigation-container {
  display: flex;
  flex-direction: column;
  padding: 34px 26px 0 32px;
  width: 68%;
  max-width: 350px;
  min-height: 100vh;
  position: absolute;
  z-index: 999;
  right: 0;
  background-color: rgba(255,255,255,0.04);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);

  transform: rotateY(90deg);
  transition: transform 0.2s ease-in-out;
}

.close-navigation-label {
  align-self: flex-end;
}

.close-navigation {
  align-self: flex-end;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
  margin-top: 65px;
  min-height: calc(237px - 65px);

  & li {
    letter-spacing: 2.7px;
  }
}

.navigation-item-number {
  position: relative;
  top: -1px;
  font-weight: 700;
}

input[type='checkbox']:checked {
  & ~ .navigation-container,
  & ~ .header-icons-container .hamburger-icon {
    transform: rotateY(0);
  }
}

.navigation-item__hover, .navigation-item__active {
  width: 100%;
  height: 3px;
  background-color: #8a8b90;
  align-self: flex-end;
  opacity: 0;
  transform: scale(0);
  transition: transform 0.2s ease-in, opacity 0.2s ease-in;
}

// tablet dimensions
@media (min-width: 768px) {
  label[for='hamburger-menu-toggle'] {
    display: none;
  }

  .header-icons-container img {
    margin-left: 10px;
    width: 48px;
    height: 48px;
  }

  .navigation-container {
    min-height: calc(96rem / 16);
    min-width: 450px;
    padding-top: 18px;
    justify-content: center;
    flex-direction: row;
    transform: rotateY(0);

    & nav {
      width: 100%;

      & ul {
        flex-direction: row;
        justify-content: space-around;
        margin-top: 18px;
        min-height: inherit;
        font-size: calc(14rem / 16);

        & .navigation-item-number {
          display: none;
        }

        li a {
          display: block;
          padding-bottom: 40px;
        }
      }
    }
  }

  .navigation-item__active {
    opacity: 1;
    transform: scale(1);
    background-color: #fff;
  }
}

// desktop dimensions
@media (min-width: 1440px) {
  header {
    position: relative;
    display: flex;
    margin-top: 35px;
  }

  .header-icons-container {
    position: static;
    margin-left: 40px;

    & img {
      margin: 0;
    }
  }

  .header-desktop-decoration {
    position: absolute;
    left: 12%;
    width: 32.848vw;
    max-width: 800px;
    height: 1px;
    z-index: 9999;
    align-self: center;
    opacity: 0.25;
    background-color: #fff;
  }

  .navigation-container {
    position: static;
    min-width: 830px;
    padding-top: 0;
    align-items: center;

    & nav {
      min-width: 542px;

      & ul {
        max-width: 70%;
        margin: 0 auto;
        margin-top: 38px;
        justify-content: space-evenly;
        font-size: 1rem;

        & .navigation-item-number {
          font-size: calc(15rem / 16);
          display: inline;
          margin-right: 0.3rem;
        }

        & li {
          display: flex;
          align-items: flex-end;
          flex-direction: column;

          a {
            padding-bottom: 35px;

            &:hover ~ .navigation-item__hover {
              opacity: 1;
              transform: scale(1);
              transition: transform 0.2s ease-in, opacity 0.2s ease-in;
            }
          }
        }
      }
    }
  }
}