// fonts
@font-face {
  font-family: 'Bellefair';
  src: url('../fonts/bellefair/Bellefair-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: regular;
}

@font-face {
  font-family: 'Barlow-condensed';
  src: url('../fonts/barlow/BarlowCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: regular;
}

// variables
:root {
  --primary-clr: #0b0d17;
  --secondary-clr: #d0d6f9;
  --tertiary-clr: #fff;
  --font-headings: 'Bellefair', 'sans-serif';
  --font-text: 'Barlow-condensed', 'sans-serif';
  --h1-font-size: calc(150rem / 16);
  --h2-font-size: calc(100rem / 16);
  --h3-font-size: calc(56rem / 16);
  --h4-font-size: calc(32rem / 16);
  --h5-font-size: calc(28rem / 16);
  --sub-heading-one: calc(28rem / 16);
  --sub-heading-two: calc(14rem / 16);
  --nav-text-size: calc(16rem / 16);
  --text-size: calc(18rem / 16);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--tertiary-clr);
  background-image: url('/home/background-home-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

@media (min-width: 768px) {
  body {
    background-image: url('/home/background-home-tablet.jpg');
  }
}

@media (min-width: 1440px) {
  body {
    background-image: url('/home/background-home-desktop.jpg');
  }
}

// headings
h1, h2, h3, h4 {
  font-family: var(--font-headings);
}
h1 {
  font-size: var(--h1-font-size);
}
h2 {
  font-size: var(--h2-font-size);
}
h3 {
  font-size: var(--h3-font-size);
}
h4 {
  font-size: var(--h4-font-size);
}
h5 {
  font-family: var(--font-text);
  font-size: var(--h5-font-size);
  letter-spacing: calc(4.75rem / 16);
}

nav {
  font-family: var(--font-text);
}

p {
  font-family: var(--font-text);
  font-size: var(--text-size);
}

li {
  list-style: none;
}